.customSelect {
  background: url("../../public/images/angledown.png");
  background-position: right 15px;
  background-repeat: no-repeat;
  -moz-appearance: none;
  appearance: none;
  background-size: 30px;
}
