@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1,
h2 {
  font-family: var(--font--clash);
}

body {
  font-family: var(--font-epilogue);
}

.brandAuthBtns {
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 1200px) {
  .brandAuthBtns {
    flex-direction: row;
  }
}

.job-opening {
  background-image: url(/images/job-openings-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.custom-pagination {
  display: flex;
  border-bottom: 0px;
}

.icon-loading:before {
  content: "\e90a";
}
